@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body{
    @apply bg-violet-50 overflow-x-hidden font-poppins
}

/* bg-gradient-to-b from-[#fff0] to-[#000000f3] to-70%  */
  
@layer components{ 
    .skillImg{
        @apply lg:w-24 lg:h-24 w-16 h-16 p-2 bg-black bg-opacity-25 
        rounded-md  cursor-pointer 
        hover:bg-opacity-40 hover:-translate-y-5 transition-all duration-300 ;
    }
    
    .mobileLink {
        @apply text-center shadow bg-black border-b-2 bg-opacity-5 py-2 rounded
        hover:bg-opacity-15 duration-300;
    }
    .lapLink {
        @apply  hover:bg-[#ffffff35] py-1 px-2 rounded-md duration-300 ;
    }

    .project-desc {
        @apply absolute left-0 right-0 bottom-0 top-0 opacity-0 duration-500 
        bg-[#000000c9]  gap-5 flex flex-col  items-center 
         hover:opacity-100;
    }

    .plink {
        @apply tooltip tooltip-bottom tooltip-accent p-2 rounded bg-primary 
        flex items-center justify-center; 
    }
}

  .swiper {
    @apply w-[80%] h-60
  }
  
  .swiper-slide {
    @apply flex items-center justify-between rounded-2xl overflow-hidden 
    relative
  }